# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/

# Flask
instance/
*.sqlite3

# Environment variables (VERY IMPORTANT)
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db